*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


:root {
  --color-bgc: #0f172a;
  --color-link: #5eead4;
  --color-bgc-link: #051513;
  --color-text: #94a3b8;
}
