* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-bgc: #0f172a;
  --color-link: #5eead4;
  --color-link-hover: #5eead53c;

  --color-bgc-link: #051513;
  --color-text: #94a3b8;
  --color-heading: #fff;
  --color-ring: rgba(59, 130, 246, 0.5);
  --color-hover: rgba(145, 168, 214, 0.136);
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body,
h1,
h2,
a {
  font-family: "inter";
}
p {
  font-family: "inter-regular";
}
h1 {
  font-size: 4.8rem;
  color: var(--color-heading);
}
h2 {
  font-size: 2rem;
  color: var(--color-heading);
}
h3 {
  font-size: 1.8rem;
  color: var(--color-text);
  font-family: "inter-regular";
  margin-bottom: 2rem;
}

p {
  font-size: 1.4rem;
  color: var(--color-text);
}
li,
a {
  font-size: 1.2rem;
}
.container {
  max-width: 1184px;
  margin: auto;
  background: #0f172a;
}
.hover-circle {
  position: fixed;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  pointer-events: none; /* موس رو نگیره */
  background: var(--color-ring);
  filter: blur(200px); /* لبه‌های نرم */
  transform: translate(-50%, -50%);
  transition: left 0.01s ease, top 0.01 ease;
}

/* main */
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  align-items: flex-start;
}

/* for tablet */
@media screen and (min-width: 768px) {
  main {
    grid-template-columns: 1fr 2fr;
  }
}

/* for desktop  */
@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: 2fr 3fr;
  }
}

.profile {
  height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  overflow-y: hidden;
}
.profile__bio {
  line-height: 2;
}

/* LIST  */
.line {
  width: 50px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
  margin-right: 1rem;
}
.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 3;
}
.item a {
  color: var(--color-text);
}
.item a:hover {
  color: var(--color-heading);
  transition: all 0.2s;
}

.item:hover .line {
  width: 70px;
  transition: all 0.5s;
}

/* social */
.social {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  gap: 3rem;
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--color-heading);
  cursor: pointer;
}

/* detail */

.detail {
  padding: 3rem;
  overflow-y: scroll;
}
.detail p {
  line-height: 2;
}

/* experience */

.experience {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 10fr;
  align-items: flex-start;
  border-radius: 0.5rem;
  padding: 1rem;
}
.margin-top {
  margin-top: 8rem;
}

.experience--link:hover h3 {
  color: var(--color-link);
}
.experience--link:hover .experience {
  background-color: var(--color-hover);
  transition: all .2s;
}

/* badge */
span {
  padding: 0.5rem 0.9rem;
  color: var(--color-link);
  border-radius: 30px;
  font-family: "inter-regular";
  background-color: var(--color-link-hover);
}
.experience__badge {
  margin-top: 1.2rem;
  display: flex;
  gap: 1rem;
}

