
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  font-family: 'inter';

}

.container {
  max-width: 1184px;
  margin: auto;
  background: linear-gradient(135deg, #1a1f3d 0%, #0d0f1f 100%);
}
.hover-circle {
  position: fixed;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  pointer-events: none; /* موس رو نگیره */
  background: rgba(12, 42, 114, 0.6);
  filter: blur(200px); /* لبه‌های نرم */
  transform: translate(-50%, -50%);
  transition: left 0.01s ease, top 0.01 ease;
}
