* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-bgc: #0f172a;
  --color-link: #5eead4;
  --color-bgc-link: #051513;
  --color-text: #94a3b8;
  --color-heading: #fff;
  --color-ring: rgba(59, 130, 246, 0.5);
}

html {
  font-size: 62.5%;
}
body,
h1,
h2,
p,
a {
  font-family: "inter";
}
h1 {
  font-size: 4.8rem;
  color: var(--color-heading);
}
h2 {
  font-size: 2rem;
  color: var(--color-heading);
}
p {
  font-size: 1.6rem;
  color: var(--color-text);
}
li,
a {
  font-size: 1.2rem;
}
.container {
  max-width: 1184px;
  margin: auto;
  background: #0f172a;
}
.hover-circle {
  position: fixed;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  pointer-events: none; /* موس رو نگیره */
  background: var(--color-ring);
  filter: blur(200px); /* لبه‌های نرم */
  transform: translate(-50%, -50%);
  transition: left 0.01s ease, top 0.01 ease;
}

/* main */
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media screen and (min-width: 896px) {
  main {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: 2fr 3fr;
  }
}

.profile {
  height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.profile__bio {
  line-height: 2;
}
.detail {
  background-color: #ccc;
}

/* LIST  */
.line {
  width: 50px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
  margin-right: 1rem;
}
.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 3;
}
.item a {
  color: var(--color-text);
}
.item a:hover {
  color: var(--color-heading);
  transition: all 0.2s;
}

.item:hover .line {
  width: 70px;
  transition: all 0.5s;
}

/* social */
.social {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  gap: 3rem;
}
.icon {
  width: 24px;
  height: 24px;
  color: var(--color-heading);
  cursor: pointer;
}
